@import '../../node_modules/vazir-font/dist/Farsi-Digits/font-face-FD.css';
@import '--reset.scss';
@import '--animation.scss';

@mixin absolute-center {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.enter-r {
    -webkit-animation: slide-in-fwd-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.exit-r {
    -webkit-animation: slide-out-bck-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-bck-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

.exit-t {
    -webkit-animation: slide-out-bck-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-bck-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

.enter-t {
    -webkit-animation: slide-in-fwd-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.container {
    width: 90vw;
    height: 100%;
    margin: 0 auto;
}

.center {

    position: absolute;
    bottom: calc(50% - 160px);
    right: calc(50% - 210px);
}

.hr {
    width: 95vw;
    height: 1px;
    margin: 10px auto;
    background-color: lighten($color: #ccc, $amount: 12);
}

.blur {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.7);
}

// Desktop Design
#head-add {
    width: 100%;

    img {
        width: 100%;
    }
}

header#mobile-header {
    display: none;
}

header#main {
    position: relative;
    z-index: 99;
    background-color: #fff;

    #main1 {
        width: 98%;
        margin: 8px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 100px;

            a {
                display: inline-block;
                margin-top: 5px;
            }

            img {
                width: 100%;
            }

        }

        .search {
            flex-basis: 70%;
            width: 300px;
            justify-self: flex-start;
            position: relative;
            height: 44px;

            i {
                position: absolute;
                top: 12px;
                right: 8px;
            }

            input {
                display: inline;
                width: 600px;
                height: 44px;
                background-color: #f0f0f1;
                border: none;
                outline: none;
                padding: 0 30px;
                border-radius: 10px;
            }
        }

        .login-btns {
            font-size: 14px;

            a {
                // display: block;
                text-align: center;
                display: flex;
                padding: 8px 13px;
                border: 1px solid #e0e0e2;
                border-radius: 10px;
                cursor: pointer;
                font-size: 14px;

                // width: 150px;
                i {
                    margin-top: -2px;
                    margin-left: 15px;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }

        .checkout {
            // text-align: right;
            // direction: ltr;
            font-size: 22px;
            display: block;
            // background-color: #000;
            width: 40px;
            border-right: 1px solid #f0f0f1;
            padding: 8px 18px;
            cursor: pointer;
        }

    }


    nav {
        position: relative;
        overflow: hidden;
        width: 98% !important;

        margin: 15px auto;
        width: 100%;
        display: flex;
        flex-direction: row;

        .nav {
            flex-basis: 100%;

            ul {

                li {
                    transition: 1s;

                    &:first-child {
                        color: #000 // color: red;
                    }

                    &:nth-child(2) {
                        border-right: 1px solid #9a9a9b;
                    }

                    &:nth-child(5) {
                        border-left: 1px solid #9a9a9b;
                    }

                    display: inline-block;
                    font-size: 14px;
                    color: #62666d;

                    a {
                        text-decoration: none;
                        display: inline-block;
                        position: relative;
                        // padding: 10px 0;
                        padding: 8px 10px;

                        &::after {
                            background: none repeat scroll 0 0 transparent;
                            bottom: 0;
                            content: "";
                            display: block;
                            height: 2px;
                            left: 50%;
                            position: absolute;
                            background: red;
                            transition: width 0.3s ease 0s, left 0.3s ease 0s;
                            width: 0;
                        }

                        &:hover::after {
                            width: 100%;
                            left: 0;
                        }
                    }


                }
            }

        }

        .location {
            padding: 8px 10px;
            text-align: left;
            flex-basis: 48%;
            cursor: pointer;
        }

    }

    .active {
        background-color: #62666d;
        color: red;
    }

}

.subMenu {
    position: absolute;
    z-index: 99;
    height: 80%;
    width: 95%;
    right: 35px;
    margin: 0 auto;
    background-color: #fff;

    .grid2 {
        width: 100%;
        display: flex;
        flex-direction: row;

        .menu-title {
            flex-basis: 20%;

            ul {
                list-style: none;
                border-left: 1px solid #f0f0f0;

                li {
                    padding: 12px;

                    &:hover {
                        background-color: #f0f0f1;
                    }
                }
            }
        }

        .menu-items {
            flex-basis: 100%;
            display: flex;
            flex-direction: column;

            ul {
                .sub-title {
                    color: #000;
                }

                li {
                    padding: 7px;
                    font-size: 14px;
                    color: #62666d;

                }
            }

            a {
                grid-area: A;

                h2 {
                    font-size: 14px;
                    color: #62666d;
                    margin: 15px 5px;
                }
            }

            #menu1 {
                display: grid;
            }

            .gird4 {
                display: none;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                    'A A A A '
                    '. . . .';

            }
        }
    }

}

.location-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0 auto;
    height: 300px;
    width: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 15px;

    .bx-x {
        cursor: pointer;
        // position: absolute;
    }

    .auto-loc {
        color: #19bfd3;
        font-size: 14px;
        font-weight: 600;

        i {
            display: block;
            float: right;
            margin: 0 15px;
        }
    }

    .modal-head {
        margin: 10px auto;
        position: sticky;
        top: 10px;
        background-color: #fff;

        p {
            width: 390px;
            margin: 0 auto;
        }
    }

    .hr {
        margin: 15px 0;
    }

    a {
        width: 95%;
        margin: 0 auto;
        display: block;
        // margin: 0 15px;
        padding: 15px 0;
    }

    p {
        display: inline-block;
        font-size: 14px;
    }

    i {
        float: left;
        font-weight: 600;
        font-size: 20px;
    }

}
.slider{
    img{
        width: 100%;
        height: 450px;
        object-fit: cover;
    }
    
    .owl-dots{
        position: absolute;
        bottom: 0%;
        
    }
    
    .active{
        span{
            width: 25px !important;
            height: 5px !important;
            background-color: #fff !important;
        }
    }
    
    
}













// Mobile Design

@media (max-width: 767px) {
    header#main {
        display: none;
    }

    .center {
        width: 100%;
        height: 100%;
        top: 0;
        // left: 0;
        right: 0;
    }

    #head-add {
        width: 100%;

        img {
            width: 100%;
            height: 30px;
            object-fit: cover;
        }
    }

    header#mobile-header {
        width: 100%;
        height: 100%;
        background-color: #fff;
        margin: auto;
        display: block;
        position: relative;

        #head1 {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            margin: 10px 15px;

            // border-bottom: 1px solid #000;
            .menu-icons {
                .dropdown {
                    display: flex;
                    justify-content: space-between;
                }

                label {
                    cursor: pointer;
                }

                input[type=checkbox]+label {
                    .icon-bar {
                        display: block;
                        width: 22px;
                        height: 2px;
                        background-color: #000;
                        margin: 4px;
                        transition: all 0.2s;
                    }

                    .top-bar {
                        transform: rotate(0);
                    }

                    .middle-bar {
                        opacity: 1;
                    }
                }

                // input[type=checkbox]:checked+label {
                //     .top-bar {
                //         transform: rotate(45deg);
                //         transform-origin: 10% 10%;
                //     }

                //     .middle-bar {
                //         opacity: 0;
                //     }

                //     .bottom-bar {
                //         transform: rotate(-45deg);
                //         transform-origin: 10% 90%;
                //     }
                // }
            }

            .logo {
                text-align: center;
                width: 90px;

                img {
                    width: 100%;
                }
            }

            .backup {
                border: 2px solid #000;
                border-radius: 6px;
                display: inline-block;
                padding: 4px;
            }
        }

        #head2 {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            margin: 10px 15px;

            .search-box {
                flex-basis: 70%;
                width: 100%;
                position: relative;

                i {
                    position: absolute;
                    top: 12px;
                    right: 8px;
                }

                input {
                    display: inline;
                    width: 90%;
                    height: 40px;
                    background-color: #f0f0f1;
                    border: none;
                    outline: none;
                    padding: 0 30px;
                    border-radius: 15px;
                }
            }

            .login {
                padding: 0 15px;

                a {
                    display: flex;
                    font-size: 14px;

                    i {
                        margin: 0 5px;
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }

            .checkout {
                font-size: 20px;
                font-weight: 600;
            }
        }

        #head3 {
            margin: 10px 15px;

            a {
                width: 100%;
            }

            p {
                display: inline-block;
                font-size: 14px;

                i {
                    float: right;
                    font-weight: 600;
                    font-size: 14px;
                }
            }

            i {
                float: left;
                font-weight: 600;
                font-size: 20px;
            }
        }

        #mobile-menu {
            position: fixed;
            overflow: scroll;
            z-index: 101;
            top: 0;
            bottom: 0;
            background-color: #fff;
            width: 80%;

            details ul {
                width: 100%;
                padding: 0;
                margin: 0;
                background-color: #ccc !important;
                box-sizing: border-box;

            }

            // .silver{
            //     background-color: #ccc;
            // }
            ul {
                list-style: none;

                .logo {
                    width: 80px;
                    margin-top: 8px;

                    img {
                        width: 100%;
                    }
                }

                .nav-all {
                    font-size: 12px;
                    margin-top: 5px;
                    color: rgba($color: #000000, $alpha: 0.5);
                }

                i {
                    font-size: 16px;
                    font-weight: 600;
                }

                li {
                    padding: 10px;
                    font-size: 14px;
                    display: block;
                }
            }
        }
    }

    .location-modal {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 0 auto;
        position: fixed;
        height: 100%;
        width: 90%;
        border-radius: none;
        overflow-y: scroll;
        top: 0;
        left: 0;
        right: 0;

        .bx-x {
            cursor: pointer;
        }

        .auto-loc {
            color: #19bfd3;
            font-size: 14px;
            font-weight: 600;

            i {
                display: block;
                float: right;
                margin: 0 15px;
            }
        }

        .modal-head {
            margin: 10px auto;
            position: sticky;
            top: 10px;
            background-color: #fff;

            p {
                width: 95%;
                margin: 0 auto;
            }
        }

        .hr {
            margin: 15px 0;
        }

        a {
            width: 95%;
            margin: 0 auto;
            display: block;
            // margin: 0 15px;
            padding: 15px 0;
        }

        p {
            display: inline-block;
            font-size: 14px;
        }

        i {
            float: left;
            font-weight: 600;
            font-size: 20px;
        }

    }
    .slider{
        .owl-theme .owl-nav {
            display: none !important;
        }
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
}