@charset "UTF-8";
@import '../../node_modules/vazir-font/dist/Farsi-Digits/font-face-FD.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Vazir FD;
  direction: rtl;
}

body {
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out-bck-right {
  0% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px) translateX(1000px);
    transform: translateZ(-1100px) translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-top {
  0% {
    -webkit-transform: translateZ(1) translateY(0);
    transform: translateZ(1) translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px) translateY(-1000px);
    transform: translateZ(-1100px) translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
* {
  font-family: Vazir FD, "sans-serif";
}

.mb-4 {
  margin-top: -45px !important;
}

.enter-r {
  -webkit-animation: slide-in-fwd-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.exit-r {
  -webkit-animation: slide-out-bck-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-bck-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.exit-t {
  -webkit-animation: slide-out-bck-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-bck-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.enter-t {
  -webkit-animation: slide-in-fwd-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.container {
  width: 96vw;
  height: 100%;
  margin: 0 auto;
}

.center {
  position: absolute;
  bottom: calc(50% - 160px);
  right: calc(50% - 210px);
}

.hr {
  max-width: 95vw;
  height: 1px;
  margin: 10px auto;
  background-color: #ebebeb;
}

.blur {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}

#head-add {
  width: 100%;
}
#head-add img {
  width: 100%;
}

header#mobile-header {
  display: none;
}

header#main {
  position: relative;
  z-index: 99;
  background-color: #fff;
}
header#main #main1 {
  width: 98%;
  margin: 8px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header#main #main1 .logo {
  width: 100px;
}
header#main #main1 .logo a {
  display: inline-block;
  margin-top: 5px;
}
header#main #main1 .logo img {
  width: 100%;
}
header#main #main1 .search {
  flex-basis: 70%;
  width: 300px;
  justify-self: flex-start;
  position: relative;
  height: 44px;
}
header#main #main1 .search i {
  position: absolute;
  top: 12px;
  right: 8px;
}
header#main #main1 .search input {
  display: inline;
  width: 600px;
  height: 44px;
  background-color: #f0f0f1;
  border: none;
  outline: none;
  padding: 0 30px;
  border-radius: 10px;
}
header#main #main1 .login-btns {
  font-size: 14px;
}
header#main #main1 .login-btns a {
  text-align: center;
  display: flex;
  padding: 8px 13px;
  border: 1px solid #e0e0e2;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}
header#main #main1 .login-btns a i {
  margin-top: -2px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 600;
}
header#main #main1 .checkout {
  font-size: 22px;
  display: block;
  width: 40px;
  border-right: 1px solid #f0f0f1;
  padding: 8px 18px;
  cursor: pointer;
}
header#main nav {
  position: relative;
  overflow: hidden;
  width: 98% !important;
  margin: 15px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}
header#main nav .nav {
  flex-basis: 100%;
}
header#main nav .nav ul li {
  transition: 1s;
  display: inline-block;
  font-size: 14px;
  color: #62666d;
}
header#main nav .nav ul li:first-child {
  color: #000;
}
header#main nav .nav ul li:nth-child(2) {
  border-right: 1px solid #9a9a9b;
}
header#main nav .nav ul li:nth-child(5) {
  border-left: 1px solid #9a9a9b;
}
header#main nav .nav ul li a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 8px 10px;
}
header#main nav .nav ul li a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: red;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header#main nav .nav ul li a:hover::after {
  width: 100%;
  left: 0;
}
header#main nav .location {
  padding: 8px 10px;
  text-align: left;
  flex-basis: 48%;
  cursor: pointer;
}
header#main .active {
  background-color: #62666d;
  color: red;
}

.subMenu {
  position: absolute;
  z-index: 99;
  height: 80%;
  width: 95%;
  right: 35px;
  margin: 0 auto;
  background-color: #fff;
}
.subMenu .grid2 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.subMenu .grid2 .menu-title {
  flex-basis: 20%;
}
.subMenu .grid2 .menu-title ul {
  list-style: none;
  border-left: 1px solid #f0f0f0;
}
.subMenu .grid2 .menu-title ul li {
  padding: 12px;
}
.subMenu .grid2 .menu-title ul li:hover {
  background-color: #f0f0f1;
}
.subMenu .grid2 .menu-items {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}
.subMenu .grid2 .menu-items ul .sub-title {
  color: #000;
}
.subMenu .grid2 .menu-items ul li {
  padding: 7px;
  font-size: 14px;
  color: #62666d;
}
.subMenu .grid2 .menu-items a {
  grid-area: A;
}
.subMenu .grid2 .menu-items a h2 {
  font-size: 14px;
  color: #62666d;
  margin: 15px 5px;
}
.subMenu .grid2 .menu-items #menu1 {
  display: grid;
}
.subMenu .grid2 .menu-items .gird4 {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "A A A A " ". . . .";
}

.location-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 auto;
  height: 300px;
  width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  padding: 15px;
}
.location-modal .bx-x {
  cursor: pointer;
}
.location-modal .auto-loc {
  color: #19bfd3;
  font-size: 14px;
  font-weight: 600;
}
.location-modal .auto-loc i {
  display: block;
  float: right;
  margin: 0 15px;
}
.location-modal .modal-head {
  margin: 10px auto;
  position: sticky;
  top: 10px;
  background-color: #fff;
}
.location-modal .modal-head p {
  width: 390px;
  margin: 0 auto;
}
.location-modal .hr {
  margin: 15px 0;
}
.location-modal a {
  width: 95%;
  margin: 0 auto;
  display: block;
  padding: 15px 0;
}
.location-modal p {
  display: inline-block;
  font-size: 14px;
}
.location-modal i {
  float: left;
  font-weight: 600;
  font-size: 20px;
}

.slider img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.slider .owl-dots {
  position: absolute;
  bottom: 0%;
}
.slider .active span {
  width: 25px !important;
  height: 5px !important;
  background-color: #fff !important;
}

#category {
  position: relative;
}
#category .category {
  text-align: center;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}
#category .category .cat-items {
  cursor: pointer;
}
#category .category .cat-items a {
  color: #000;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#category .category .cat-items a img {
  margin: 15px auto;
  width: 50px;
  height: 50px;
}
#category .category .cat-items .cat-dots {
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f1;
}
#category .category .cat-items .cat-dots .one,
#category .category .cat-items .cat-dots .two,
#category .category .cat-items .cat-dots .three {
  width: 5px;
  height: 5px;
  margin: 2px;
  background-color: #a1a3a8;
  border-radius: 50%;
}

.center1 {
  position: fixed;
  bottom: calc(50% - 285px);
  right: calc(50% - 300px);
}

.category-modal {
  width: 600px;
  height: 450px;
  background-color: #fff;
  border-radius: 15px;
  overflow: scroll;
}
.category-modal .modal-head {
  height: 60px;
  margin: 0;
  position: sticky;
  top: 0px;
  background-color: #fff;
  display: block;
  overflow: hidden;
  width: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px auto;
  align-content: center;
}
.category-modal .modal-head .hr {
  margin-top: 15px;
  display: block;
}
.category-modal .modal-head i {
  font-size: 22px;
}
.category-modal .modal-head a {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.category-modal .cat-head {
  width: 50%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}
.category-modal .cat-head .cat-items {
  cursor: pointer;
}
.category-modal .cat-head .cat-items a {
  font-size: 14px;
  color: #000;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.category-modal .cat-head .cat-items a img {
  margin: 5px auto;
  width: 50px;
  height: 50px;
}
.category-modal .services {
  padding: 15px;
}
.category-modal .services h2 {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 600;
}
.category-modal .services .grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 0;
}
.category-modal .services .cat-items {
  padding: 8px;
  border-radius: 15px;
  border: 1px solid #9a9a9b;
  width: 250px;
  cursor: pointer;
}
.category-modal .services .cat-items a {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-modal .services .cat-items a img {
  width: 50px;
  height: 50px;
}
.category-modal .services .cat-items a p {
  margin: 10px 0;
  font-size: 12px;
}
.category-modal .services .cat-items a p:first-child {
  font-size: 16px;
  font-weight: 600;
}
.category-modal .services .cat-items a i {
  font-size: 20px;
}

.hot-suggest {
  background-color: #ef394e;
  width: 100%;
  padding: 5px;
  height: 290px;
  margin: 15px 0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
}
.hot-suggest .item {
  background-color: #fff;
  height: 270px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hot-suggest .card-img {
  width: 100%;
}
.hot-suggest .card-img img {
  width: 100%;
  margin: auto;
}
.hot-suggest .price {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  display: flex;
  direction: ltr;
  align-content: center;
  flex-direction: row;
}
.hot-suggest .price .left {
  width: 100%;
  flex-basis: 100%;
  margin: auto;
  justify-content: center;
  color: #4f4e4e;
}
.hot-suggest .price .right {
  width: 100%;
  flex-basis: 20%;
  margin: auto;
  font-size: 13px;
  color: #969a9b;
  margin-right: 10px;
}
.hot-suggest .price .right button {
  border: none;
  border-radius: 5px 5px;
  width: 50px;
  height: 20px;
  background: #ef4056;
  color: #fff;
  font-size: 12px;
}
.hot-suggest .off {
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  direction: ltr;
  align-content: center;
  text-align: center;
}
.hot-suggest .off del {
  text-align: center;
  margin-left: 25px;
  color: #6c6969;
  font-size: 12px;
}
.hot-suggest .card1 {
  background-color: #ef394e !important;
  width: 100%;
}

.banner {
  width: 100%;
  margin: auto;
}
.banner img {
  width: 100%;
}

.offers {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  border-radius: 15px;
}
.offers .items {
  border-radius: 15px;
  overflow: hidden;
}
.offers img {
  width: 100%;
}

#selection {
  height: 100%;
  margin: 45px auto;
}
#selection h1 {
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;
  margin-top: 35px;
}
#selection .gird5 {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px 0;
}
#selection .items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  height: 200px;
  font-size: 14px;
}
#selection .items a {
  width: 100%;
}
#selection .items img {
  margin: auto;
  width: 170px;
  height: 170px;
}

.banner2 {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.banner2 .items {
  border-radius: 15px;
  overflow: hidden;
}
.banner2 .items img {
  width: 100%;
}

#suggestion h1 {
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;
  margin-top: 35px;
}
#suggestion .suggest {
  border: 1px solid #f0f0f0;
  border-radius: 15px;
  overflow: hidden;
}
#suggestion .suggest .box {
  width: 100%;
  border: 1px solid #f0f0f0;
  text-align: center;
  box-sizing: border-box;
}
#suggestion .suggest .box .top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 150px;
}
#suggestion .suggest .box .bot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 150px;
}
#suggestion .suggest .box img {
  padding: 15px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

#favorite {
  margin-top: 25px;
  height: 300px;
  display: flex;
  align-items: center;
}
#favorite h1 {
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;
  margin-top: 35px;
}
#favorite .fave-brand {
  border: 1px solid #f0f0f0;
  padding: 25px;
  border-radius: 15px;
}
#favorite .fave-brand .brandSlide .item {
  display: flex;
  align-items: center;
  border-left: 1px solid #f0f0f0;
  width: 110px;
  height: 110px;
  margin: auto;
  text-align: center;
  align-content: center;
}
#favorite .fave-brand .brandSlide .item img {
  margin: auto;
  width: 100%;
}

#category2 .grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 15px;
  border: 1px solid #e5e5e5;
}
#category2 .items {
  padding: 15px;
  width: 100%;
}
#category2 .items .title h2 {
  font-size: 20px;
}
#category2 .items .title p {
  margin-top: 15px;
  color: #9a9a9b;
  font-size: 12px;
}
#category2 .items .imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#category2 .items .imgs .box {
  padding: 15px;
  box-sizing: border-box;
}
#category2 .items .imgs .box:first-child {
  border-left: 1px solid rgba(229, 229, 229, 0.8980392157);
  border-bottom: 1px solid #e5e5e5;
}
#category2 .items .imgs .box:last-child {
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid rgba(229, 229, 229, 0.8980392157);
}
#category2 .items .imgs img {
  width: 100%;
}
#category2 .items .link {
  color: #19bfd3;
  text-align: center;
}

#digi-plus {
  height: 400px;
  margin-top: 25px;
}
#digi-plus .digi-plus {
  padding: 15px;
  border-radius: 15px;
  background-color: #941b80;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#digi-plus .box {
  width: 436px;
  border-radius: 15px;
  height: 380px;
  background-color: #fff;
  overflow: hidden;
}
#digi-plus .box .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 15px;
}
#digi-plus .box .header .title {
  font-size: 18px;
}
#digi-plus .box .header .title i {
  color: #941b80;
}
#digi-plus .box .header .link {
  color: #941b80;
  font-size: 14px;
}
#digi-plus .box .imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 0 auto;
}
#digi-plus .box .imgs img {
  text-align: center;
  width: 100%;
}

#digi-club {
  margin-top: 25px;
}
#digi-club .digi-club {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(76.02deg, #35a6c8 33.32%, #007295 71.55%), radial-gradient(21.29% 87.33% at 50% 50.67%, #7cf2f6 0, #35a6c8 100%);
  height: 65px;
}
#digi-club .digi-club .logo {
  width: 120px;
}
#digi-club .digi-club .logo img {
  width: 100%;
}
#digi-club .digi-club .box {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  overflow: hidden;
  border-radius: 15px;
  overflow: hidden;
}
#digi-club .digi-club .box .items {
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 70px;
  background-color: #fff;
  margin: 15px;
}
#digi-club .digi-club .box .items img {
  width: 167px;
  height: 60px;
}
#digi-club .digi-club .box .items a {
  padding: 5px;
  font-size: 14px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#category3 {
  margin-top: 25px;
}
#category3 .grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 15px;
  border: 1px solid #e5e5e5;
}
#category3 .items {
  width: 240px !important;
  padding: 15px;
  width: 100%;
}
#category3 .items .title h2 {
  font-size: 20px;
}
#category3 .items .title p {
  margin-top: 15px;
  color: #9a9a9b;
  font-size: 12px;
}
#category3 .items .imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#category3 .items .imgs .box {
  padding: 15px;
  box-sizing: border-box;
}
#category3 .items .imgs .box:first-child {
  border-left: 1px solid rgba(229, 229, 229, 0.8980392157);
  border-bottom: 1px solid #e5e5e5;
}
#category3 .items .imgs .box:last-child {
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid rgba(229, 229, 229, 0.8980392157);
}
#category3 .items .imgs img {
  width: 100%;
}
#category3 .items .link {
  color: #19bfd3;
  text-align: center;
}

#suggestion2 {
  margin-top: 25px;
  height: fit-content;
}
#suggestion2 h1 {
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;
  margin-top: 35px;
}
#suggestion2 .suggest {
  border: 1px solid #f0f0f0;
  border-radius: 15px;
  overflow: hidden;
  font-size: 14px;
  line-height: 2em;
}
#suggestion2 .suggest .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
#suggestion2 .suggest .box .top,
#suggestion2 .suggest .box .mid,
#suggestion2 .suggest .box .bot {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 150px;
}
#suggestion2 .suggest .box .top::after,
#suggestion2 .suggest .box .mid::after,
#suggestion2 .suggest .box .bot::after {
  margin: 0 auto;
  right: 50%;
  content: "";
  width: 50%;
  height: 1px;
  position: absolute;
  background: #e5e5e5;
  bottom: 0;
}
#suggestion2 .suggest .box .top a,
#suggestion2 .suggest .box .mid a,
#suggestion2 .suggest .box .bot a {
  text-align: right !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
#suggestion2 .suggest .box .top a .desc,
#suggestion2 .suggest .box .mid a .desc,
#suggestion2 .suggest .box .bot a .desc {
  padding: 15px 0;
}
#suggestion2 .suggest .box .top a h3,
#suggestion2 .suggest .box .mid a h3,
#suggestion2 .suggest .box .bot a h3 {
  color: #19bfd3;
  margin: 0 15px;
  font-size: 28px;
  font-weight: 800;
}
#suggestion2 .suggest .box .top a img,
#suggestion2 .suggest .box .mid a img,
#suggestion2 .suggest .box .bot a img {
  text-align: right !important;
  text-align: center !important;
  margin: 0 auto;
}
#suggestion2 .suggest .box img {
  padding: 15px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

#add {
  margin-top: 25px;
}
#add .banner {
  border-radius: 15px;
  overflow: hidden;
}
#add .banner img {
  width: 100%;
}

#chosen {
  margin-top: 25px;
}
#chosen h1 {
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 500;
  text-align: center;
  margin-top: 35px;
}
#chosen .gird5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  width: 95%;
  gap: 1px;
}
#chosen .gird5 .box {
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
#chosen .gird5 .box:nth-child(1) {
  border-right: none;
}
#chosen .gird5 .box:nth-child(6) {
  border-right: none;
}
#chosen .gird5 .box:nth-child(11) {
  border-right: none;
}
#chosen .gird5 .box .img {
  margin: 0 auto;
  width: 70%;
}
#chosen .gird5 .box .price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#chosen .gird5 .box .price p {
  margin: 0 10px;
}
#chosen .gird5 .box .price p:first-child {
  background: #ef394e;
  padding: 5px;
  color: #fff;
  border-radius: 20px;
  font-size: 12px;
}
#chosen .gird5 .box a {
  padding: 5px;
  width: 100%;
}
#chosen .gird5 .box a img {
  width: 100%;
}
#chosen .chosen {
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  margin: 0 auto;
  width: 100%;
}

#blog {
  margin-top: 25px;
}
#blog .header {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#blog .header a {
  color: #19bfd3;
  font-weight: 600;
}
#blog .header p {
  font-weight: 600;
}
#blog .grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
#blog .grid4 .box {
  border-radius: 15px;
  overflow: hidden;
  height: fit-content;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}
#blog .grid4 .box .desc {
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
}
#blog .grid4 img {
  width: 100%;
}

footer {
  margin-top: 25px;
  height: 100vh;
  border-top: 1px solid #e5e5e5;
}
footer .footer1 {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}
footer .footer1 span {
  margin-top: 15px;
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
  color: #6c6969;
}
footer .footer1 span:first-child {
  position: relative;
}
footer .footer1 span:first-child::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 1px;
  top: 0;
  background-color: #e5e5e5;
  left: -6px;
}
footer .footer1 #GoTop {
  padding: 8px 12px;
  border-radius: 15px;
  border: 1px solid #e5e5e5;
  color: #c5c5c5;
}
footer .footer2 .grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
footer .footer2 .grid5 a {
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer2 .grid5 a img {
  margin: 5px auto;
  width: 60px;
  height: 60px;
}
footer .footer3 {
  margin-top: 45px;
  padding: 15px;
}
footer .footer3 .grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
footer .footer3 ul li {
  line-height: 2.5em;
  color: #6c6969;
}
footer .footer3 ul li:first-child {
  color: #000;
}
footer .footer3 #social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer3 #social h2 {
  font-size: 18px;
  margin: 15px 0;
}
footer .footer3 #social .social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}
footer .footer3 #social .social i {
  font-size: 40px;
  color: #6c6969;
}
footer .footer3 #social input[type=email] {
  width: 200px;
  border-radius: 10px;
  border: none;
  background-color: #f0f0f1;
  height: 20px;
  padding: 15px;
  font-size: 16px;
  outline: none;
}
footer .footer3 #social input[type=submit] {
  color: #fff;
  background-color: #e0e0e2;
  border: none;
  height: 46px;
  width: 60px;
  font-size: 16px;
  border-radius: 10px;
}
footer .footer4 {
  margin-top: 25px;
}
footer .footer4 .split {
  padding: 15px;
  border-radius: 8px;
  background-color: #3c4b6d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer4 .split .right {
  width: 180px;
}
footer .footer4 .split .right .logo {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .footer4 .split .left {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer4 .split .left .items {
  width: 150px;
  height: 46px;
  border-radius: 5px;
  overflow: hidden;
}
footer .footer4 .split .left .items:last-child {
  border-radius: 5px;
  background-color: #fff;
  width: 40px;
}
footer .footer4 .split .left .items img {
  margin: 0px auto;
  width: 100%;
  height: 46px;
}
footer .hr {
  margin: 25px auto;
}
footer .footer5 {
  margin-top: 25px;
}
footer .footer5 .split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer5 .split .right h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0;
}
footer .footer5 .split .right p {
  width: 60%;
  font-size: 16px;
  color: #6c6969;
  line-height: 2em;
  margin-bottom: 15px;
}
footer .footer5 .split .right a {
  color: #19bfd3;
}
footer .footer5 .split .left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer5 .split .left .items {
  padding: 20px;
  width: 70px;
  border: 1px solid #e5e5e5;
  height: 70px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 6px;
}
footer .footer5 .split .left .items img {
  margin: -5px auto;
  width: 100%;
  object-fit: cover;
}
footer .copyright {
  margin: 45px 0;
  text-align: center;
  font-size: 14px;
  color: #6c6969;
}
footer .footerLogo {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background-color: #e5e5e5;
}
footer .footerLogo .items {
  text-align: center;
  width: 100%;
  height: 70px;
  background-color: #f0f0f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerLogo .items img {
  margin: 0 auto;
  width: 90px;
}

#support {
  position: fixed;
  bottom: 25px;
  left: 25px;
  background-color: #ef394e;
  border-radius: 50%;
}
#support .supp {
  padding: 8px;
  font-size: 30px;
  color: #fff;
}

#checkout {
  margin-top: 25px;
  margin-bottom: 25px;
}
#checkout .container {
  width: 90vw;
  margin: 0 auto;
}
#checkout .check-nav ul li {
  padding: 15px;
  display: inline-block;
  color: #6c6969;
  cursor: pointer;
}
#checkout .check-nav ul li.active {
  position: relative;
  color: #ef394e;
  transition: 300ms;
}
#checkout .check-nav ul li.active::before {
  content: "";
  transition: 300ms;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  height: 3px;
  border-radius: 20px;
  background-color: #ef394e;
  bottom: 0;
  right: 0;
  left: 0;
}
#checkout .basket {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  position: relative;
}
#checkout .basket .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e5;
  height: 100%;
  width: 70%;
  margin: 0 15px;
  border-radius: 15px;
}
#checkout .basket .main .img {
  width: 150px;
  height: 150px;
}
#checkout .basket .main .img img {
  margin: 0 auto;
  width: 100%;
}
#checkout .basket .main .desc {
  text-align: center;
}
#checkout .basket .main .desc h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
#checkout .basket .main .desc p {
  font-size: 14px;
  color: #6c6969;
  margin-bottom: 25px;
}
#checkout .basket .main .desc .link {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #19bfd3;
}
#checkout .basket .main .desc .link a:first-child {
  position: relative;
}
#checkout .basket .main .desc .link a:first-child::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 1px;
  top: -5px;
  left: -40px;
  background-color: #19bfd3;
}
#checkout .basket .side {
  position: sticky;
  top: 105px;
  left: 0;
  height: 100%;
  width: 30%;
  float: left;
  border-radius: 15px;
}
#checkout .basket .side .login-into {
  border: 1px solid #e5e5e5;
  padding: 15px;
  border-radius: 15px;
}
#checkout .basket .side .login-into .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
#checkout .basket .side .login-into .head p {
  display: flex;
}
#checkout .basket .side .login-into .head i {
  color: #f9a825;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}
#checkout .basket .side .login-into .desc p {
  font-size: 14px;
  color: #6c6969;
  line-height: 2em;
  width: 80%;
  margin: 0 auto;
}

.owl-theme .owl-nav {
  /* display: none; */
  margin-top: 10px;
  position: absolute;
  bottom: 10%;
  right: 0px;
}

.owl-theme .owl-nav button {
  background-color: #fff !important;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #4DC7A0;
  color: #000;
  text-decoration: none;
}

@media (max-width: 767px) {
  header#main {
    display: none;
  }
  .center {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }
  #head-add {
    width: 100%;
  }
  #head-add img {
    width: 100%;
    height: 30px;
    object-fit: cover;
  }
  header#mobile-header {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: auto;
    display: block;
    position: relative;
  }
  header#mobile-header #head1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
  }
  header#mobile-header #head1 .menu-icons .dropdown {
    display: flex;
    justify-content: space-between;
  }
  header#mobile-header #head1 .menu-icons label {
    cursor: pointer;
  }
  header#mobile-header #head1 .menu-icons input[type=checkbox] + label .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #000;
    margin: 4px;
    transition: all 0.2s;
  }
  header#mobile-header #head1 .menu-icons input[type=checkbox] + label .top-bar {
    transform: rotate(0);
  }
  header#mobile-header #head1 .menu-icons input[type=checkbox] + label .middle-bar {
    opacity: 1;
  }
  header#mobile-header #head1 .logo {
    text-align: center;
    width: 90px;
  }
  header#mobile-header #head1 .logo img {
    width: 100%;
  }
  header#mobile-header #head1 .backup {
    border: 2px solid #000;
    border-radius: 6px;
    display: inline-block;
    padding: 4px;
  }
  header#mobile-header #head2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
  }
  header#mobile-header #head2 .search-box {
    flex-basis: 70%;
    width: 100%;
    position: relative;
  }
  header#mobile-header #head2 .search-box i {
    position: absolute;
    top: 12px;
    right: 8px;
  }
  header#mobile-header #head2 .search-box input {
    display: inline;
    width: 90%;
    height: 40px;
    background-color: #f0f0f1;
    border: none;
    outline: none;
    padding: 0 30px;
    border-radius: 15px;
  }
  header#mobile-header #head2 .login {
    padding: 0 15px;
  }
  header#mobile-header #head2 .login a {
    display: flex;
    font-size: 14px;
  }
  header#mobile-header #head2 .login a i {
    margin: 0 5px;
    font-size: 20px;
    font-weight: 600;
  }
  header#mobile-header #head2 .checkout {
    font-size: 20px;
    font-weight: 600;
  }
  header#mobile-header #head3 {
    margin: 10px 15px;
  }
  header#mobile-header #head3 a {
    width: 100%;
  }
  header#mobile-header #head3 p {
    display: inline-block;
    font-size: 14px;
  }
  header#mobile-header #head3 p i {
    float: right;
    font-weight: 600;
    font-size: 14px;
  }
  header#mobile-header #head3 i {
    float: left;
    font-weight: 600;
    font-size: 20px;
  }
  header#mobile-header #mobile-menu {
    position: fixed;
    overflow: scroll;
    z-index: 101;
    top: 0;
    bottom: 0;
    background-color: #fff;
    width: 80%;
  }
  header#mobile-header #mobile-menu details ul {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #ccc !important;
    box-sizing: border-box;
  }
  header#mobile-header #mobile-menu ul {
    list-style: none;
  }
  header#mobile-header #mobile-menu ul .logo {
    width: 80px;
    margin-top: 8px;
  }
  header#mobile-header #mobile-menu ul .logo img {
    width: 100%;
  }
  header#mobile-header #mobile-menu ul .nav-all {
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
  }
  header#mobile-header #mobile-menu ul i {
    font-size: 16px;
    font-weight: 600;
  }
  header#mobile-header #mobile-menu ul li {
    padding: 10px;
    font-size: 14px;
    display: block;
  }
  .location-modal {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0 auto;
    position: fixed;
    height: 100%;
    width: 90%;
    border-radius: initial;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
  }
  .location-modal .bx-x {
    cursor: pointer;
  }
  .location-modal .auto-loc {
    color: #19bfd3;
    font-size: 14px;
    font-weight: 600;
  }
  .location-modal .auto-loc i {
    display: block;
    float: right;
    margin: 0 15px;
  }
  .location-modal .modal-head {
    margin: 10px auto;
    position: sticky;
    width: 100%;
    top: 10px;
    right: 0;
    left: 0;
    background-color: #fff;
  }
  .location-modal .modal-head p {
    width: 95%;
    margin: 0 auto;
  }
  .location-modal .hr {
    margin: 15px 0;
  }
  .location-modal a {
    width: 95%;
    margin: 0 auto;
    display: block;
    padding: 15px 0;
  }
  .location-modal p {
    display: inline-block;
    font-size: 14px;
  }
  .location-modal i {
    float: left;
    font-weight: 600;
    font-size: 20px;
  }
  .slider .owl-theme .owl-nav {
    display: none !important;
  }
  .slider img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .container {
    width: 100%;
  }
  #category .category {
    grid-template-columns: repeat(4, 1fr);
  }
  .center1 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  .category-modal {
    width: 100%;
    height: 80%;
    background-color: #fff;
    border-radius: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .category-modal .modal-head a {
    font-size: 14px;
  }
  .category-modal .cat-head {
    width: 100%;
  }
  .category-modal .cat-head .cat-items a {
    font-size: 14px;
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .category-modal .cat-head .cat-items a img {
    margin: 5px auto;
    width: 50px;
    height: 50px;
  }
  .category-modal .services h2 {
    margin: 15px 0;
    color: #a1a3a8;
    font-weight: 400;
  }
  .category-modal .services .grid2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px 0;
  }
  .category-modal .services .cat-items {
    padding: 8px;
    border-radius: inherit;
    border: none;
    border-bottom: 1px solid #9a9a9b;
    width: 90%;
    cursor: pointer;
  }
  .category-modal .services .cat-items a {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .category-modal .services .cat-items a img {
    width: 50px;
    height: 50px;
  }
  .category-modal .services .cat-items a p {
    margin: 10px 0;
    font-size: 12px;
    color: #a1a3a8;
  }
  .category-modal .services .cat-items a p:first-child {
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }
  .category-modal .services .cat-items a i {
    font-size: 20px;
  }
  .hot-suggest {
    width: 100%;
    height: 250px;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
  }
  .hot-suggest .item {
    background-color: #fff;
    height: 230px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hot-suggest .card1 {
    height: 100%;
  }
  .offers {
    grid-template-columns: repeat(2, 1fr);
  }
  #selection {
    margin-top: 25px;
  }
  #selection h1 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 35px;
  }
  #selection .gird5 {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". . ." ". . ." ". . ." ". A .";
  }
  #selection .items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 130px;
    font-size: 14px;
  }
  #selection .items img {
    margin: auto;
    width: 90px;
    height: 90px;
  }
  #selection .items:last-child {
    grid-area: A;
  }
  #favorite {
    margin-top: 25px;
    height: 300px;
    display: flex;
    align-items: center;
  }
  #favorite h1 {
    font-size: 20px;
  }
  #favorite .fave-brand {
    border: 1px solid #f0f0f0;
    padding: 25px;
    border-radius: 15px;
  }
  #favorite .fave-brand .brandSlide .item {
    display: flex;
    align-items: center;
    border-left: 1px solid #f0f0f0;
    width: 80px;
    height: 80px;
  }
  #favorite .fave-brand .brandSlide .item img {
    width: 100%;
  }
  #category2 .grid4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 15px;
    width: 100%;
    border: 1px solid #e5e5e5;
  }
  #category2 .items {
    width: 100% !important;
    padding: 15px;
    width: 100%;
  }
  #category2 .items .title h2 {
    font-size: 20px;
  }
  #category2 .items .title p {
    margin-top: 15px;
    color: #9a9a9b;
    font-size: 12px;
  }
  #category2 .items .imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #category2 .items .imgs .box {
    padding: 15px;
    box-sizing: border-box;
  }
  #category2 .items .imgs .box:first-child {
    border-left: 1px solid rgba(229, 229, 229, 0.8980392157);
    border-bottom: 1px solid #e5e5e5;
  }
  #category2 .items .imgs .box:last-child {
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid rgba(229, 229, 229, 0.8980392157);
  }
  #category2 .items .imgs img {
    width: 100%;
  }
  #category2 .items .link {
    color: #19bfd3;
    text-align: center;
  }
  #digi-plus {
    display: block;
    height: fit-content;
  }
  #digi-plus .digi-plus {
    background-color: #941b80;
    display: flex;
    flex-direction: column;
  }
  #digi-plus .digi-plus .img {
    width: 300px;
    margin: 0 auto;
  }
  #digi-plus .digi-plus .img img {
    width: 100%;
  }
  #digi-plus .box {
    width: 100%;
    height: auto;
  }
  #digi-plus .box .imgs .items:nth-child(2n) {
    display: none;
  }
  #digi-club {
    margin-top: 25px;
  }
  #digi-club .digi-club {
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    justify-content: flex-start;
    background: linear-gradient(76.02deg, #35a6c8 33.32%, #007295 71.55%), radial-gradient(21.29% 87.33% at 50% 50.67%, #7cf2f6 0, #35a6c8 100%);
    height: auto;
  }
  #digi-club .digi-club .logo {
    width: 120px;
  }
  #digi-club .digi-club .logo img {
    width: 100%;
  }
  #digi-club .digi-club .box {
    width: 100%;
    gap: 5px;
    border-radius: initial;
  }
  #digi-club .digi-club .box .items {
    height: auto;
    margin: 0px auto;
    border-radius: initial;
  }
  #digi-club .digi-club .box .items:first-child {
    border-radius: 0 10px 10px 0;
  }
  #digi-club .digi-club .box .items:last-child {
    border-radius: 10px 0 0 10px;
  }
  #digi-club .digi-club .box .items img {
    width: 100%;
    margin-top: 25px;
  }
  #digi-club .digi-club .box .items a {
    padding: 5px;
    font-size: 14px;
    flex-direction: row;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #category3 .grid4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 15px;
    width: 100%;
    border: 1px solid #e5e5e5;
  }
  #category3 .items {
    width: 100% !important;
    padding: 15px;
    width: 100%;
  }
  #category3 .items .title h2 {
    font-size: 20px;
  }
  #category3 .items .title p {
    margin-top: 15px;
    color: #9a9a9b;
    font-size: 12px;
  }
  #category3 .items .imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #category3 .items .imgs .box {
    padding: 15px;
    box-sizing: border-box;
  }
  #category3 .items .imgs .box:first-child {
    border-left: 1px solid rgba(229, 229, 229, 0.8980392157);
    border-bottom: 1px solid #e5e5e5;
  }
  #category3 .items .imgs .box:last-child {
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid rgba(229, 229, 229, 0.8980392157);
  }
  #category3 .items .imgs img {
    width: 100%;
  }
  #category3 .items .link {
    color: #19bfd3;
    text-align: center;
  }
  #chosen .gird5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 100%;
  }
  #chosen .gird5 .box {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
  }
  #chosen .gird5 .box .img {
    margin: 0 auto;
    width: 70%;
  }
  #chosen .gird5 .box .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #chosen .gird5 .box .price p {
    margin: 0 10px;
  }
  #chosen .gird5 .box .price p:first-child {
    background: #ef394e;
    padding: 5px;
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
  }
  #chosen .gird5 .box a {
    padding: 5px;
    width: 100%;
  }
  #chosen .gird5 .box a img {
    width: 100%;
  }
  #chosen .chosen {
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    margin: 0 auto;
    width: 100%;
  }
  #blog {
    margin-top: 25px;
  }
  #blog .header {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #blog .header a {
    color: #19bfd3;
    font-weight: 600;
  }
  #blog .header p {
    font-weight: 600;
  }
  #blog .grid4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  #blog .grid4 .box {
    margin: 0 auto;
    width: 80%;
    height: fit-content;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #e5e5e5;
  }
  #blog .grid4 .box .img {
    overflow: hidden;
  }
  #blog .grid4 .box .img img {
    width: 100%;
  }
  #blog .grid4 .box .desc {
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
  }
  footer .footer1 {
    display: block;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  footer .footer1 span {
    margin-top: 15px;
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
    color: #6c6969;
  }
  footer .footer1 span:first-child {
    position: relative;
  }
  footer .footer1 span:first-child::after {
    content: "";
    position: absolute;
    height: 80%;
    width: 1px;
    top: 0;
    background-color: #fff;
    left: -6px;
  }
  footer .footer1 .part1 {
    width: 100%;
    float: left;
  }
  footer .footer1 .part2 {
    height: 60px;
    padding: 15px;
    position: absolute;
    left: 0;
    top: 0;
    float: right;
  }
  footer .footer1 #GoTop {
    padding: 8px 20px;
    border-radius: 15px;
    border: 1px solid #e5e5e5;
    color: #c5c5c5;
  }
  footer .footer2 {
    display: none;
  }
  footer .footer3 {
    margin: -25px auto;
    text-align: center;
  }
  footer .footer3 .dnone {
    display: none;
  }
  footer .footer3 .grid4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: ". ." "A A";
  }
  footer .footer3 .grid4:nth-child(3) {
    display: none;
    background: #000;
  }
  footer .footer3 #social {
    grid-area: A;
  }
  footer .footer3 #social .social {
    width: 100%;
  }
  footer .footer4 .split {
    padding: 15px;
    border-radius: 8px;
    background-color: #3c4b6d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    width: 80%;
    margin: 0 auto;
  }
  footer .footer4 .split .right {
    margin: 0 auto;
    width: 160px;
  }
  footer .footer4 .split .right .logo {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  footer .footer4 .split .left {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: ". ." ". ." "A A";
    gap: 15px;
  }
  footer .footer4 .split .left .items {
    width: 150px;
    height: 46px;
    border-radius: 5px;
    overflow: hidden;
  }
  footer .footer4 .split .left .items:last-child {
    grid-area: A;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
  }
  footer .footer4 .split .left .items:last-child img {
    display: none;
  }
  footer .footer4 .split .left .items:last-child::before {
    content: "مشاهده بیشتر‌>";
    text-align: center;
    margin: 0 auto;
  }
  footer .footer4 .split .left .items img {
    margin: 0px auto;
    width: 100%;
    height: 46px;
  }
  footer .hr {
    margin: 25px auto;
  }
  footer .footer5 {
    margin-top: 25px;
  }
  footer .footer5 .split {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer .footer5 .split .right {
    padding: 15px;
  }
  footer .footer5 .split .right h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0;
  }
  footer .footer5 .split .right p {
    width: 100%;
    font-size: 14px;
    color: #6c6969;
    line-height: 2em;
    margin-bottom: 15px;
  }
  footer .footer5 .split .right a {
    color: #19bfd3;
  }
  footer .footer5 .split .left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  footer .footer5 .split .left .items {
    padding: 15px;
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 70px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 6px;
  }
  footer .footer5 .split .left .items img {
    margin: 0px auto;
    width: 100%;
    object-fit: cover;
  }
  footer .footerLogo {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". . ." ". . ." ". . ." ". . ." "A A B";
    gap: 1px;
    background-color: #e5e5e5;
  }
  footer .footerLogo .items {
    text-align: center;
    width: 100%;
    height: 70px;
    background-color: #f0f0f1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footerLogo .items:nth-child(13) {
    grid-area: A;
  }
  footer .footerLogo .items:nth-child(14) {
    grid-area: B;
  }
  footer .footerLogo .items img {
    margin: 0 auto;
    width: 90px;
  }
  #checkout .container {
    width: 95vw;
    margin: 0 auto;
  }
  #checkout .check-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #checkout .check-nav ul li {
    width: 100%;
    text-align: center;
  }
  #checkout .basket {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #checkout .basket .main {
    display: flex;
    order: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: initial;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 25px 0;
    border-radius: 15px;
  }
  #checkout .basket .main .img {
    width: 150px;
    height: 150px;
  }
  #checkout .basket .main .img img {
    margin: 0 auto;
    width: 100%;
  }
  #checkout .basket .main .desc {
    text-align: center;
  }
  #checkout .basket .main .desc h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  #checkout .basket .main .desc p {
    font-size: 14px;
    color: #6c6969;
    margin-bottom: 25px;
  }
  #checkout .basket .main .desc .link {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #19bfd3;
  }
  #checkout .basket .main .desc .link a:first-child {
    position: relative;
  }
  #checkout .basket .main .desc .link a:first-child::after {
    content: "";
    position: absolute;
    height: 25px;
    width: 1px;
    top: -5px;
    left: -40px;
    background-color: #19bfd3;
  }
  #checkout .basket .side {
    order: 1;
    position: static;
    top: 105px;
    left: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0 5px 5px #e5e5e5;
    border-radius: 15px;
  }
  #checkout .basket .side .login-into {
    border: 1px solid #e5e5e5;
    padding: 15px;
    border-radius: 15px;
  }
  #checkout .basket .side .login-into .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }
  #checkout .basket .side .login-into .head p {
    display: flex;
  }
  #checkout .basket .side .login-into .head i {
    color: #f9a825;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
  }
  #checkout .basket .side .login-into .desc p {
    font-size: 14px;
    color: #6c6969;
    line-height: 2em;
    width: 80%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=index.css.map */
