@import '../../node_modules/vazir-font/dist/Farsi-Digits/font-face-FD.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Vazir FD;
  direction: rtl;
}

body {
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out-bck-right {
  0% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px) translateX(1000px);
    transform: translateZ(-1100px) translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-top {
  0% {
    -webkit-transform: translateZ(1) translateY(0);
    transform: translateZ(1) translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px) translateY(-1000px);
    transform: translateZ(-1100px) translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.enter-r {
  -webkit-animation: slide-in-fwd-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.exit-r {
  -webkit-animation: slide-out-bck-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-bck-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.exit-t {
  -webkit-animation: slide-out-bck-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-bck-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.enter-t {
  -webkit-animation: slide-in-fwd-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.container {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
}

.center {
  position: absolute;
  bottom: calc(50% - 160px);
  right: calc(50% - 210px);
}

.hr {
  width: 95vw;
  height: 1px;
  margin: 10px auto;
  background-color: #ebebeb;
}

.blur {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}

#head-add {
  width: 100%;
}
#head-add img {
  width: 100%;
}

header#mobile-header {
  display: none;
}

header#main {
  position: relative;
  z-index: 99;
  background-color: #fff;
}
header#main #main1 {
  width: 98%;
  margin: 8px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header#main #main1 .logo {
  width: 100px;
}
header#main #main1 .logo a {
  display: inline-block;
  margin-top: 5px;
}
header#main #main1 .logo img {
  width: 100%;
}
header#main #main1 .search {
  flex-basis: 70%;
  width: 300px;
  justify-self: flex-start;
  position: relative;
  height: 44px;
}
header#main #main1 .search i {
  position: absolute;
  top: 12px;
  right: 8px;
}
header#main #main1 .search input {
  display: inline;
  width: 600px;
  height: 44px;
  background-color: #f0f0f1;
  border: none;
  outline: none;
  padding: 0 30px;
  border-radius: 10px;
}
header#main #main1 .login-btns {
  font-size: 14px;
}
header#main #main1 .login-btns a {
  text-align: center;
  display: flex;
  padding: 8px 13px;
  border: 1px solid #e0e0e2;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}
header#main #main1 .login-btns a i {
  margin-top: -2px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 600;
}
header#main #main1 .checkout {
  font-size: 22px;
  display: block;
  width: 40px;
  border-right: 1px solid #f0f0f1;
  padding: 8px 18px;
  cursor: pointer;
}
header#main nav {
  position: relative;
  overflow: hidden;
  width: 98% !important;
  margin: 15px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}
header#main nav .nav {
  flex-basis: 100%;
}
header#main nav .nav ul li {
  transition: 1s;
  display: inline-block;
  font-size: 14px;
  color: #62666d;
}
header#main nav .nav ul li:first-child {
  color: #000;
}
header#main nav .nav ul li:nth-child(2) {
  border-right: 1px solid #9a9a9b;
}
header#main nav .nav ul li:nth-child(5) {
  border-left: 1px solid #9a9a9b;
}
header#main nav .nav ul li a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 8px 10px;
}
header#main nav .nav ul li a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: red;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header#main nav .nav ul li a:hover::after {
  width: 100%;
  left: 0;
}
header#main nav .location {
  padding: 8px 10px;
  text-align: left;
  flex-basis: 48%;
  cursor: pointer;
}
header#main .active {
  background-color: #62666d;
  color: red;
}

.subMenu {
  position: absolute;
  z-index: 99;
  height: 80%;
  width: 95%;
  right: 35px;
  margin: 0 auto;
  background-color: #fff;
}
.subMenu .grid2 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.subMenu .grid2 .menu-title {
  flex-basis: 20%;
}
.subMenu .grid2 .menu-title ul {
  list-style: none;
  border-left: 1px solid #f0f0f0;
}
.subMenu .grid2 .menu-title ul li {
  padding: 12px;
}
.subMenu .grid2 .menu-title ul li:hover {
  background-color: #f0f0f1;
}
.subMenu .grid2 .menu-items {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}
.subMenu .grid2 .menu-items ul .sub-title {
  color: #000;
}
.subMenu .grid2 .menu-items ul li {
  padding: 7px;
  font-size: 14px;
  color: #62666d;
}
.subMenu .grid2 .menu-items a {
  grid-area: A;
}
.subMenu .grid2 .menu-items a h2 {
  font-size: 14px;
  color: #62666d;
  margin: 15px 5px;
}
.subMenu .grid2 .menu-items #menu1 {
  display: grid;
}
.subMenu .grid2 .menu-items .gird4 {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "A A A A " ". . . .";
}

.location-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 auto;
  height: 300px;
  width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  padding: 15px;
}
.location-modal .bx-x {
  cursor: pointer;
}
.location-modal .auto-loc {
  color: #19bfd3;
  font-size: 14px;
  font-weight: 600;
}
.location-modal .auto-loc i {
  display: block;
  float: right;
  margin: 0 15px;
}
.location-modal .modal-head {
  margin: 10px auto;
  position: sticky;
  top: 10px;
  background-color: #fff;
}
.location-modal .modal-head p {
  width: 390px;
  margin: 0 auto;
}
.location-modal .hr {
  margin: 15px 0;
}
.location-modal a {
  width: 95%;
  margin: 0 auto;
  display: block;
  padding: 15px 0;
}
.location-modal p {
  display: inline-block;
  font-size: 14px;
}
.location-modal i {
  float: left;
  font-weight: 600;
  font-size: 20px;
}

.slider img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.slider .owl-dots {
  position: absolute;
  bottom: 0%;
}
.slider .active span {
  width: 25px !important;
  height: 5px !important;
  background-color: #fff !important;
}

.category {
  text-align: center;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}
.category .cat-items {
  cursor: pointer;
}
.category .cat-items a {
  color: #000;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.category .cat-items a img {
  margin: 15px auto;
  width: 50px;
  height: 50px;
}
.category .cat-items .cat-dots {
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f1;
}
.category .cat-items .cat-dots .one,
.category .cat-items .cat-dots .two,
.category .cat-items .cat-dots .three {
  width: 5px;
  height: 5px;
  margin: 2px;
  background-color: #a1a3a8;
  border-radius: 50%;
}

.hot-suggest {
  background-color: #ef394e;
  width: 100%;
  padding: 5px;
  height: 350px;
  margin: 15px 0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
}
.hot-suggest .card1 {
  background-color: #ef394e !important;
}
.hot-suggest .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  outline: none;
  border: none;
}
.hot-suggest .card img {
  width: 100%;
  outline: none;
  border: none;
}
.hot-suggest .card .price {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  bottom: 0;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hot-suggest .card .price p {
  margin: 15px 0;
}
.hot-suggest .card .price .off {
  border-radius: 10px;
  background-color: #ef394e;
  padding: 8px;
  color: #fff;
  font-size: 14px;
}

@media (max-width: 767px) {
  header#main {
    display: none;
  }

  .center {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }

  #head-add {
    width: 100%;
  }
  #head-add img {
    width: 100%;
    height: 30px;
    object-fit: cover;
  }

  header#mobile-header {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: auto;
    display: block;
    position: relative;
  }
  header#mobile-header #head1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
  }
  header#mobile-header #head1 .menu-icons .dropdown {
    display: flex;
    justify-content: space-between;
  }
  header#mobile-header #head1 .menu-icons label {
    cursor: pointer;
  }
  header#mobile-header #head1 .menu-icons input[type=checkbox] + label .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #000;
    margin: 4px;
    transition: all 0.2s;
  }
  header#mobile-header #head1 .menu-icons input[type=checkbox] + label .top-bar {
    transform: rotate(0);
  }
  header#mobile-header #head1 .menu-icons input[type=checkbox] + label .middle-bar {
    opacity: 1;
  }
  header#mobile-header #head1 .logo {
    text-align: center;
    width: 90px;
  }
  header#mobile-header #head1 .logo img {
    width: 100%;
  }
  header#mobile-header #head1 .backup {
    border: 2px solid #000;
    border-radius: 6px;
    display: inline-block;
    padding: 4px;
  }
  header#mobile-header #head2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
  }
  header#mobile-header #head2 .search-box {
    flex-basis: 70%;
    width: 100%;
    position: relative;
  }
  header#mobile-header #head2 .search-box i {
    position: absolute;
    top: 12px;
    right: 8px;
  }
  header#mobile-header #head2 .search-box input {
    display: inline;
    width: 90%;
    height: 40px;
    background-color: #f0f0f1;
    border: none;
    outline: none;
    padding: 0 30px;
    border-radius: 15px;
  }
  header#mobile-header #head2 .login {
    padding: 0 15px;
  }
  header#mobile-header #head2 .login a {
    display: flex;
    font-size: 14px;
  }
  header#mobile-header #head2 .login a i {
    margin: 0 5px;
    font-size: 20px;
    font-weight: 600;
  }
  header#mobile-header #head2 .checkout {
    font-size: 20px;
    font-weight: 600;
  }
  header#mobile-header #head3 {
    margin: 10px 15px;
  }
  header#mobile-header #head3 a {
    width: 100%;
  }
  header#mobile-header #head3 p {
    display: inline-block;
    font-size: 14px;
  }
  header#mobile-header #head3 p i {
    float: right;
    font-weight: 600;
    font-size: 14px;
  }
  header#mobile-header #head3 i {
    float: left;
    font-weight: 600;
    font-size: 20px;
  }
  header#mobile-header #mobile-menu {
    position: fixed;
    overflow: scroll;
    z-index: 101;
    top: 0;
    bottom: 0;
    background-color: #fff;
    width: 80%;
  }
  header#mobile-header #mobile-menu details ul {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #ccc !important;
    box-sizing: border-box;
  }
  header#mobile-header #mobile-menu ul {
    list-style: none;
  }
  header#mobile-header #mobile-menu ul .logo {
    width: 80px;
    margin-top: 8px;
  }
  header#mobile-header #mobile-menu ul .logo img {
    width: 100%;
  }
  header#mobile-header #mobile-menu ul .nav-all {
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
  }
  header#mobile-header #mobile-menu ul i {
    font-size: 16px;
    font-weight: 600;
  }
  header#mobile-header #mobile-menu ul li {
    padding: 10px;
    font-size: 14px;
    display: block;
  }

  .location-modal {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0 auto;
    position: fixed;
    height: 100%;
    width: 90%;
    border-radius: none;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
  }
  .location-modal .bx-x {
    cursor: pointer;
  }
  .location-modal .auto-loc {
    color: #19bfd3;
    font-size: 14px;
    font-weight: 600;
  }
  .location-modal .auto-loc i {
    display: block;
    float: right;
    margin: 0 15px;
  }
  .location-modal .modal-head {
    margin: 10px auto;
    position: sticky;
    top: 10px;
    background-color: #fff;
  }
  .location-modal .modal-head p {
    width: 95%;
    margin: 0 auto;
  }
  .location-modal .hr {
    margin: 15px 0;
  }
  .location-modal a {
    width: 95%;
    margin: 0 auto;
    display: block;
    padding: 15px 0;
  }
  .location-modal p {
    display: inline-block;
    font-size: 14px;
  }
  .location-modal i {
    float: left;
    font-weight: 600;
    font-size: 20px;
  }

  .slider .owl-theme .owl-nav {
    display: none !important;
  }
  .slider img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .container {
    width: 95%;
  }

  .category {
    grid-template-columns: repeat(4, 1fr);
  }

  .hot-suggest {
    width: 100%;
    height: 250px;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
  }
  .hot-suggest .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    border: none;
    height: 230px;
    margin-right: 20px !important;
    position: relative;
    background-color: #fff;
    cursor: pointer;
  }
  .hot-suggest .card img {
    width: 100%;
  }
  .hot-suggest .price {
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    font-size: 14px;
  }
}

/*# sourceMappingURL=index.css.map */
